body {
    background-color: #C8ECC0;
}

#logo {
    min-width: 50px;
}

#header-text-xs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 46px;
    font-weight: bold;  
}

#header-text-sm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;  
}

#header-text-md {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;  
}

hr {
    border-color: black;
}

h2 {
    font-size: 22px;

}

.carousel-inner{
    width:100%;
    max-height: 270px !important;
  }

.latest-news, .list-group-item {
    background-color: #C9E265;
    border: none;
}

#teams, #locations, #times, #chat {
    display: none;
}

.list-group {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message-data {
    font-size: 12px;
}

.message-text {
    font-size: 14px;
}

.message-box {
    border-radius: 0px 20px 20px 0px;
}

.avatar-box {
    border-radius: 20px 0px 0px 20px;
}

